<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccessLayer.Properties.Settings.DBBayiSiparisConnectionString"
            connectionString="Data Source=DESKTOP-R4U63MD\SQLEXPRESS;Initial Catalog=DBBayiSiparis;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>